.note
{
  // height: 200px;
  background: #f8f6a7;
}

.notebtn
{
  color: #909a09;

}
.profile
{
  background-color: rgb(218, 226, 223);
}
.add-btn:hover
{
 color:#fbf994;
 background-color: rgb(189, 201, 197) ;
 
}
.note-title
{
  color: rgb(160, 119, 160);
}
.main-color
{
  color: #fbf994;
}
